/* 这是引入了一些字体 */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* 当用户手动导航或者 CSSOM scrolling API 触发滚动操作时 */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  /* 大写 */
  letter-spacing: 2px;
  /* 字符间距 */
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit CSS 属性指定可替换元素（例如：<img> 或 <video>）的内容应该如何适应到其使用高度和宽度确定的框。 */
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  /* mix-blend-mode CSS 属性描述了元素的内容应该与元素的直系父元素的内容和元素的背景如何混合。 */
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1em;
  color: #fff;
}

.department-desc {
  font-size: 22px;
  /* 增大的字体大小，使其更易于阅读 */
  text-align: center;
  margin-bottom: 25px;
  /* 增加的边距以获得更好的间距 */
  white-space: pre-line;
  /* 确保内容中的换行符得到尊重 */
}

/* 底部区块的样式 */
.footer {
  /* 背景使用从蓝色到浅蓝色的线性渐变 */
  background: linear-gradient(135deg, rgb(48, 16, 75), rgba(84, 9, 134, 0.5));
  /* 文本颜色设为白色 */
  color: white;
  /* 设置底部区块的内边距 */
  padding: 50px;
}

/* 底部数据内容的样式 */
.footer__data {
  /* 弹性项目的宽度设为容器的20% */
  flex-basis: 17%;
  /* 每个数据内容的外边距 */
  margin: 10px;
}

/* 底部标题和副标题的样式 */
.footer__title,
.footer__subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
  /* 设置字体加粗 */
  font-weight: bold;
  /* white-space: ; */
}

/* 底部描述的样式 */
.footer__description {
  font-size: 1.2em;
  color: #ffffff;
  /* 设置顶部和底部的外边距 */
  margin: 10px 0;
}

/* 底部链接的样式 */
.footer__link {
  margin-bottom: 10px;
  /* 文本颜色设为白色 */
  color: white;
  /* 移除链接的下划线 */
  text-decoration: none;
  /* 将链接显示为块级元素 */
  display: block;
  margin-left: 0;
}

/* 底部版权部分的样式 */
.footer__rights {
  margin-top: 40px;
  /* 文本居中对齐 */
  text-align: center;
}

/* 底部条款链接的样式 */
.footer__terms-link {
  /* 文本颜色设为白色 */
  color: white;
  /* 移除链接的下划线 */
  text-decoration: none;
  /* 设置左右的外边距 */
  margin: 0 10px;
}

.footer__copy {
  color: #ffffff;
}

/* 网格布局，用于灵活地排列内容 */
.grid {
  /* 使用弹性布局 */
  display: flex;
  /* 项目之间平均分配空间 */
  justify-content: space-between;
  /* 允许项目在下一行换行 */
  flex-wrap: wrap;
}

/* 光标样式
.img {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url('./images/pm.gif');
  background-size: cover;
} */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  transition: 0.5s ease;
  transform-style: preserve-3d;
  user-select: none;
  cursor: crosshair;
}

.container:hover {
  transform: rotateX(45deg) rotateY(-30deg) scale(1.3);
}

.container .ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mask: radial-gradient(#0000 var(--i),
      #000 var(--i),
      #000 var(--o),
      #0000 var(--o));
  transition: 0.3s;
}

.container .ring-1 {
  background: conic-gradient(#0ff 100%, #0000 100%);
  --i: 70%;
  --o: 71%;
}

.container .ring-2 {
  background: conic-gradient(#0ff 5%,
      #0000 5%,
      #0000 9%,
      #0ff 9%,
      #0ff 20%,
      #0000 20%,
      #0000 25%,
      #0ff 25%,
      #0ff 37%,
      #0000 37%,
      #0000 42%,
      #0ff 42%,
      #0ff 49%,
      #0000 49%,
      #0000 55%,
      #0ff 55%,
      #0ff 65%,
      #0000 65%,
      #0000 72%,
      #0ff 72%,
      #0ff 80%,
      #0000 80%,
      #0000 86%,
      #0ff 86%,
      #0ff 95%,
      #0000 95%);
  --i: 57%;
  --o: 60%;
  animation: animate 7s ease-in-out infinite alternate;
}

.container .ring-3 {
  background: conic-gradient(#ffd000 85%, #0000 85%);
  --i: 50%;
  --o: 50.7%;
  animation: animate 3s ease-in-out infinite alternate;
}

.container .ring-4 {
  background: conic-gradient(#0000 35%,
      #0ff 35%,
      #0ff 40%,
      #0000 40%,
      #0000 67%,
      #0ff 67%,
      #0ff 71%,
      #0000 71%);
  --i: 40%;
  --o: 44%;
  animation: animate 4s ease-in-out infinite alternate;
}

.container .ring-5-1 {
  background: conic-gradient(#0000 20%,
      #0ff 20%,
      #0ff 40%,
      #0000 40%,
      #0000 67%,
      #0ff 67%,
      #0ff 85%,
      #0000 85%);
  --i: 39.5%;
  --o: 40%;
  animation: animate 4s ease-in-out infinite alternate;
}

.container .ring-5-2 {
  background: conic-gradient(#0000 20%,
      #0ff 20%,
      #0ff 40%,
      #0000 40%,
      #0000 67%,
      #0ff 67%,
      #0ff 85%,
      #0000 85%);
  --i: 37.5%;
  --o: 38%;
  animation: animate 4s ease-in-out infinite alternate;
}

.container .ring-6 {
  background: conic-gradient(#0000 20%,
      #0ff 20%,
      #0ff 35%,
      #0000 35%,
      #0000 67%,
      #0ff 67%,
      #0ff 95%,
      #0000 95%);
  --i: 30%;
  --o: 30.5%;
  animation: animate 2s ease-in-out infinite alternate;
}

.container .ring-7 {
  background: conic-gradient(#0ff 100%, #0000 100%);
  --i: 16%;
  --o: 17.3%;
}

.container .ring-8 {
  background: conic-gradient(#ffd000 75%, #0000 75%);
  --i: 10%;
  --o: 11%;
  animation: animate 5s ease-in-out infinite alternate;
}

.container .ring-9 {
  background: conic-gradient(#0ff 100%, #0000 100%);
  --i: 3%;
  --o: 3.4%;
}

.container .ring-8,
.container .ring-9 {
  transform: translateZ(0);
  /* 初始化为0，以便在:hover时产生动画效果 */
}

.container:hover .ring-2,
.container:hover .ring-4,
.container:hover .ring-5-1,
.container:hover .ring-5-2 {
  transform: translateZ(50px);
}

.container:hover .ring-8,
.container:hover .ring-9 {
  transform: translateZ(120px);
}

@keyframes animate {
  to {
    transform: rotateZ(360deg);
    /* 使用rotateZ代替rotate */
  }
}